1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+
6 
Ans:  As hinted Values are: ‘hello’, -87.8,6; and expressions are: (*,-,/,+) well actually expressions are a combination of variables and operators which can yield a result.
E.g: a+b is an expression.

2.What is the difference between string and variable?
Ans:  A variable is Simply an identifer using which you store a data value in a memory location, and using which you can retrive that data when called.
Eg: a=2
Here 2 is assigned to variable ‘a’ .
A string is a datatype which is collection  of charaters enclosed in single or double quotes and can be assigned to a variable.
Eg: a=”Abhilash”

3. Describe three different data types.
Ans: below are the few datatypes used in all python:
I.Numbers: Python accepts a collection of  whole numbers ( integers), Decimal Numbers ( floating point numbers), and Complex Numbers.
Eg: a=123
      b= 1.234
c= 1+2j
II. Strings: Strings are a collection of characters enclosed in Single or double quotes:
  Eg: a=”Abhilash Putti”
III: Boolean: Boolean datatypes consist of True and false data which are generally used for conditional statements and loops in coding. Generally in python True=1 and False=0.
IV: List: List is a collection of immutable data in an ordered sequence which can be assigned to a variable.
Eg: a=[1,2,’abhilash’, 1+2j,[34,45,67]]
As you can see above a list can consists of elements fo different datatypes and even a nested lists within it.

4. What is an expression made up of? What do all expressions do?
Ans:  An expression is a combination of operators and operands that is interpreted to produce some other value. In any programming language, an expression is evaluated as per the precedence of its operators. So that if there is more than one operator in an expression, their precedence decides which operation will be performed first.
There are different types of expressions:
A.Constant expressions: these are expressions that have constant values:
example:  a=1+2
	     print(a)
Output: 3
B.Arithmetic expression: a combination of Arithmetic Operators and operands.
Example: x+y (Addition),  x-y (subtraction), x/y (division), x*y (multiplication), x//y (Quotient), x%y (Modulo operator which gives remainder of the division) , x**y ( Exponentiation).
Relational Expression: Aslo called a boolean expression. In these type of expressions airthmetic type expressions are written on both sides of relational operator ( ==, <, > ,<=,>=) and produce a boolean output at the end.

In [3]:
a=10
b=5
c=15
d=2
p=(a+b)<(c+d)
print(p)

True

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Ans: Basically an expression evaluates to a value and a statement does something as it says:
In this case integer 10 is assigned to variable ‘spam’ hence its a statement.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
Ans: 22

In [4]:
bacon=22
bacon+1

23

In [5]:
bacon

22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [6]:
'spam' + 'spamspam'

'spamspamspam'

In [7]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
Ans: the reason is that a variable name should always start witha letter or a character and never a number.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?
Ans: basically we can use type casting to get a specific version of a value:

In [8]:
a=23
b=5
c=int(a/b)
d=a/b
e=float(c)
f=str(c)

In [9]:
print(c)
type(c)

4

int

In [10]:
print(d)
type(d)

4.6

float

In [11]:
print(e)
type(e)

4.0

float

In [12]:
print(f)
type(f)

4

str

As shown in the above example int(c) , float(c), str(c) is used to type caste variable c into various datatypes.

 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
Ans:  concationation can only be donbe between strings, not between a string and a integer so simple add quotes before and after 99

In [14]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'